In [71]:
import pandas as pd
import os
import numpy as np

In [72]:
main_path = os.getcwd().split('\\Projeto FWD')[0].capitalize() #confirma o diretório de instalação do script

In [73]:
df = pd.read_excel(fr"{main_path}\Projeto FWD\main files\19-AV. SANTOS DUMONT\Arquivos em excel\1-119920100023_EDECONSIL_FWD_PD_FX1 (1).xlsx", sheet_name= 'Table 1')

In [74]:
def checkColumnLines(df):
    for i in range(df.shape[1]):
        if pd.isnull(df.iloc[10][i]):
            df.iloc[10][i] = df.iloc[9][i]
        else:
            continue
checkColumnLines(df)

In [75]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,LEVANTAMENTO DEFLECTOMÉTRICO com utilização do “Falling Weight Deflectometer” (FWD)\nModelo TBTFWD-NJ-MV - DNER PRO 273/96,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,DATA:,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-18 00:00:00,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RELATÓRIO N°:,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1199-00000/23,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OS Nº:,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1199/23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,"2,34",43,4.364,22,13,9,6,3,2,2,33.7,37.1,"-2,55024","-44,23932",293,09/08/2023 00:42,NaN,NaN
70,"2,38",42,4.262,25,15,11,7,4,2,2,33.7,36.6,"-2,54986","-44,23935",266,09/08/2023 00:43,NaN,NaN
71,"2,42",42,4.273,16,9,7,4,2,1,1,33.8,36.8,"-2,54946","-44,23940",403,09/08/2023 00:44,NaN,NaN
72,"2,46",46,4.66,31,21,16,11,6,4,2,33.7,37.3,"-2,54906","-44,23941",248,09/08/2023 00:44,NaN,NaN
73,"2,50",47,4.833,21,15,12,9,7,4,4,33.7,35.7,"-2,54869","-44,23950",436,09/08/2023 00:45,NaN,NaN

In [76]:
df.columns[-2:]

Index(['DATA:', 'Unnamed: 17'], dtype='object')

In [77]:
#drop 0-9 lines and set them as columns
df.drop(index=[i for i in range(0,10)], inplace=True)
df.columns = df.iloc[0]
df.drop(index= 10, inplace=True)
df.reset_index(inplace=True)
df.drop(columns= df.columns[-2:], inplace=True)

In [79]:
df

10,index,KM,Target\nLoad kN,Target\nLoad (Kgf),D1,D2,D3,D4,D5,D6,D7,Ar,Pav.,Latitude,Longitude,RAIO,Data e Hora
0,11,"0,02",43,4.354,24,19,15,11,9,6,4,33.4,35.9,"-2,57083","-44,23496",485,09/08/2023 00:03
1,12,"0,06",42,4.252,19,10,6,4,3,2,1,33.6,36.8,"-2,57065","-44,23528",293,09/08/2023 00:04
2,13,"0,10",42,4.252,25,13,8,5,3,2,2,33.5,36,"-2,57044","-44,23567",212,09/08/2023 00:05
3,14,"0,14",41,4.13,31,16,10,5,3,2,1,33.5,36.3,"-2,57019","-44,23596",171,09/08/2023 00:05
4,15,"0,18",39,3.977,44,23,14,9,5,3,2,33.9,37.7,"-2,56991","-44,23620",124,09/08/2023 00:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,69,"2,34",43,4.364,22,13,9,6,3,2,2,33.7,37.1,"-2,55024","-44,23932",293,09/08/2023 00:42
59,70,"2,38",42,4.262,25,15,11,7,4,2,2,33.7,36.6,"-2,54986","-44,23935",266,09/08/2023 00:43
60,71,"2,42",42,4.273,16,9,7,4,2,1,1,33.8,36.8,"-2,54946","-44,23940",403,09/08/2023 00:44
61,72,"2,46",46,4.66,31,21,16,11,6,4,2,33.7,37.3,"-2,54906","-44,23941",248,09/08/2023 00:44
62,73,"2,50",47,4.833,21,15,12,9,7,4,4,33.7,35.7,"-2,54869","-44,23950",436,09/08/2023 00:45